*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #02150c;
  color: #ffffff;
}

header {
    display: flex;
    justify-content: center;
    max-width: 100%;
    align-items: center;
    gap: 10px;
}

header img {
    max-width: 50%;
    height: auto;
    dispaly: block;
    
}

.hamburgermenu{
    font-size: 40px;
}


.hamburgermenu span {
  height: 3px;
  border-radius: 3px;
  background: #ffffff;
  display: block;
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  background: #02150c;
  display: none;
  flex-direction: column;
  padding: 12px 20px;
  gap: 10px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.menu.show {
  display: flex;
}

.membership-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 70%;
    margin: auto;
    
}

.membership-form input {
    min-height: 40px;
}

#experience {
    min-height: 40px;
}

#member p{
    max-width: 70%;
    margin: auto;
    margin-bottom: 60px;
}

#member h1{
    text-align: center;
    margin: 60px;
}

.memberbutton {
    background: #00953E;
    padding: 15px 50px;
    color: white;
    font-size: 16px;
    margin: 30px auto;
}

@media (min-width: 768px) {

    
}